@media screen and (max-width: 937px) {
    .benefits {
        margin-bottom: 75px;
    }

    .benefits__card {
        margin-bottom: 60px;
    }

    .search-form__field {
        margin-bottom: 25px;
    }

    .benefits__cards {
        padding: 0 15px;
        grid-column-gap: 35px;
    }

    .benefits__title {
        padding: 55px 15px;
    }

    .benefits__wrapper {
        box-shadow: none;
    }

    .places__card_size_lg {
        grid-column: span 6;
    }

    .places__card_size_sm {
        grid-column: span 6;
    }

    .tours__tour {
        grid-column-gap: 35px;
    }

    .tour__info {
        padding-left: 0;
    }

    .tour__title {
        margin-bottom: 15px;
    }

    .tour__description {
        margin-bottom: 15px;
    }

    .top-places__cards {
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    .top-places__card {
        grid-column: span 3;
    }

    .top-places__card-img-wrapper {
        margin-bottom: 25px;
    }

    .footer {
        padding: 60px 0;
    }
}

