@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-700.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-900.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

/* ############################################################### */
/* Header block start */
/* ############################################################### */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: 85%;
}

/* ############################################################### */
/* Header block end */
/* ############################################################### */

/* ############################################################### */
/* Intro block start */
/* ############################################################### */

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro__title {
    color: white;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro__subtitle {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: transparent url(../img/svg/circle-input-intro.svg) no-repeat left 7px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-form__field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    background: #1B7DFF;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border: 0;
}

.search-form__submit:hover, search-form__submit:focus, search-form__submit:active {
    background: #0055c5;
}

/* ############################################################### */
/* Intro block end */
/* ############################################################### */
