@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-700.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-900.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-lg {
    max-width: 1262px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ############################################################### */
/* Header block start */
/* ############################################################### */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .4s linear;
    padding-bottom: 20px;
    z-index: 1000;
}

.header_active {
    background: #0E1D28;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: 85%;
}

/* ############################################################### */
/* Header block end */
/* ############################################################### */

/* ############################################################### */
/* Intro block start */
/* ############################################################### */

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title {
    color: white;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro__subtitle {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: transparent url(../img/svg/circle-input-intro.svg) no-repeat left 7px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-form__field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    background: #1B7DFF;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border: 0;
    transition: .45s all;
}

.search-form__submit:hover, search-form__submit:focus, search-form__submit:active {
    background: #0055c5;
}

/* ############################################################### */
/* Intro block end */
/* ############################################################### */

/* ############################################################### */
/* Benefits block start */
/* ############################################################### */

.benefits {
    margin-bottom: 131px;
}

.benefits__wrapper {
    max-width: 1262px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits__card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-image-wrapper {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-image {
    display: block;
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits__card-text {
    font-size: 16px;
    line-height: 24px;
    max-width: 317px;
    padding-bottom: 39px;
}

.benefits__card-link {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/card-arrow.svg) no-repeat 95% center;
    transition: .2s all;
}

.benefits__card-link:hover, .benefits__card-link:focus {
    background: url(../img/svg/card-arrow.svg) no-repeat right center;
}

/* ############################################################### */
/* Benefits block end */
/* ############################################################### */


/* ############################################################### */
/* Places block start */
/* ############################################################### */

.places {
    margin-bottom: 131px;
}

.places__title-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}

.places__title-link {
    padding-right: 59px;
    font-size: 16px;
    text-decoration: none;
    color: #006DFE;
    text-transform: uppercase;
    background: url(../img/svg/card-arrow.svg) no-repeat 95% center;
    transition: .2s all;
}

.places__title-link:hover, .places__title-link:focus {
    background: url(../img/svg/card-arrow.svg) no-repeat right center;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-img {
    transform: scale(1.05);
}

.places__card-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
    z-index: 3;
    position: absolute;
    bottom: 27px;
    left: 29px;
}

.places__card_size_lg {
    grid-column: span 3;
}

.places__card_size_sm {
    grid-column: span 2;
}

.places__card-img {
    width: 100%;
    transition: .5s all;
}

.places__card-img_size_lg {
    height: 354px;
    object-fit: cover;
}


.places__card-img_size_sm {
    height: 283px;
    object-fit: cover;
}


.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* ############################################################### */
/* Places block end */
/* ############################################################### */


/* ############################################################### */
/* Tours block start */
/* ############################################################### */

.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__info {
    padding-left: 47px;
}

.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
    max-width: 519px;
}

.tour__link {
    padding-right: 59px;
    text-decoration: none;
    text-transform: uppercase;
    color: #006DFE;
    background: url(../img/svg/card-arrow.svg) no-repeat 95% center;
    transition: .2s all;
}

.tour__link:hover, .tour__link:focus {
    background: url(../img/svg/card-arrow.svg) no-repeat right center;
}


/* ############################################################### */
/* Tours block end */
/* ############################################################### */


/* ############################################################### */
/* Top places block start */
/* ############################################################### */

.top-places {
    margin-bottom: 86px;
}

.top-places__card {
    display: flex;
    flex-direction: column;
}

.top-places__title {
    margin-bottom: 54px;
}

.top-places__card-img-wrapper {
    position: relative;
    margin-bottom: 45px;
}

.top-places__card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
    justify-content: flex-end;
}

.top-places__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}

.top-places__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top-places__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url(../img/svg/heart.svg) no-repeat right;
    margin-right: 14px;
}

.top-places__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 23px;
    background: url(../img/svg/comment.svg) no-repeat right;
}

.top-places__card-description {
    font-size: 16px;
    line-height: 24px;
    max-width: 391px;
    margin-bottom: 31px;
}

.top-places__card-link {
    padding: 12px 19px;
    text-transform: uppercase;
    background: #1B7DFF;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 0;
    transition: .45s all;
    text-decoration: none;
    width: 118px;
    margin: auto 0 0 0;
}

.top-places__card-link:hover, top-places__card-link:focus, top-places__card-link:active {
    background: #0055c5;
}

/* ############################################################### */
/* Top places block end */
/* ############################################################### */

